rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() && request.auth.token.email in [
        "Auxiliar.ti@fvadvocacia.com.br",
        "admin2@empresa.com",
        "admin3@empresa.com",
        "admin4@empresa.com",
        "admin5@empresa.com"
      ];
    }

    match /counters/{docId} {
      allow read, write: if signedIn();
    }

    match /chamados/{id} {
      allow create: if signedIn();
      allow read: if signedIn() && (resource.data.userId == request.auth.uid || isAdmin());
      allow update: if signedIn() && (resource.data.userId == request.auth.uid || isAdmin());
      allow delete: if isAdmin();
    }
  }
}
